# Project exclude paths
/.gradle/
/build/
/run-data/
/run/
/.idea/
/.kotlin
/out/
/forge/src/generated/resources/.cache/
/neoforge/.gradle/
/neoforge/build/
/forge/.gradle/
/forge/build/
/common/.gradle/
/common/build/
/forge/run/
/common/run/

/forge/src/generated/resources/.cache
/forge/src/generated/resources/assets/createharmonics/blockstates
/forge/src/generated/resources/assets/createharmonics/models
/forge/src/generated/resources/data
/docs/node_modules/
